@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

:root {
  min-width: 1280px;
}

body {
  @apply bg-(--ui-bg) text-(--ui-text);
  min-width: 1280px;
}
